
<template>
    <div>
        123
    </div>
</template>

<script>
    export default {
        created() {
            this.getProducts();
        },
        data() {
            return {
                products: [],
            }
        },
        methods: {
            getProducts() {
                var api = 'https://vue-course-api.hexschool.io/api/a15963lleoallentw/admin/products' ;
                var vm = this;
                this.$http.get(api).then((response) => {
                    if (response.data.success) {
                        vm.products = response.data.data;
                    }
                })
            },
        }
    }
</script>