<template>
    <div class="hello">
        <a href="#" @click.prevent="signOut">登出</a>
    </div>
</template>

<script>
    export default {
        name: "HelloWorld",
        props: {
            msg: String
        },
        methods: {
            signOut() {
                var api = 'https://vue-course-api.hexschool.io/logout';
                var vm = this;
                this.$http.post(api).then((response) => {
                    if (response.data.success) {
                        vm.$router.push('/Login');
                    }
                })
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
