<template>
    <div id="app">
        <div id="nav">
            <router-link to="/Admin">HelloWorld</router-link> |
            <router-link to="/About">About</router-link>|
            <router-link to="/Login">Login</router-link>
        </div>
        <router-view />
    </div>
</template>

<style lang="scss">
    @import "./assets/all";    
</style>
